:root {
  --cor-fundo: #bbbb88;
  --cor-principal: #99aa77;
  --cor-secundaria:	#455a40;
  --cor-destaque:#98b1c8;
  --cor-texto: #7f8668;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}

h1 {
  color: var(--cor-destaque);
}

button {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
  border: none;
  border-radius: 15px;
  padding: 15px;
  transition: background-color 0.3s;
}

button:hover{
  background-color: var(--cor-destaque);
  color: var(--cor-principal);

}